@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-primary: #eeeff1;
    --background-secondary: #ffffff;
}

section{
    min-height: 100vh;
    padding: 100px 50px 50px 50px; 
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before{
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--background-primary);
    z-index: -1;
}

.logo{
    font-size: 30px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 16px;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 20px;
    text-decoration: none;
}

#check{
    display: none;
}

.menu{
    font-size: 20px;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.light-dark{
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background-color: var(--background-primary);
}

.home img{
    width: 400px;
    border-radius: 50%;
}

.home .home-content h1{
    font-size: 35px;
    font-weight: 700;
}

.home .home-content p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-icon{
    padding-bottom: 30px;
}

.social-icon a{
    font-size: 20px;
    display: inline-block;
    line-height: 45px;
    text-align: center;
    color: var(--text-color);
    height: 50px;
    width: 50px;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    text-decoration: none;
    margin-right: 15px;
}

.social-icon a:hover{
    background-color: var(--text-color);
    color: var(--background-primary);
}

.btn a{
    font-size: 15px;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    border: 2px solid var(--text-color);
    color: var(--text-color);
}

.btn a:hover{
    background-color: var(--text-color);
    color: var(--background-primary);
}

.skills{
    text-align: center;
}

.skills h1{
    font-size: 35px;
    font-weight: 700;
}

.skills p{
    padding-top: 10px;
    padding-bottom: 20px;
}

.skill-box{
    display: inline-block;
    padding-bottom: 10px;
    padding-right: 10px;
}

.box-icon {
    font-size: 20px;
    width: 300px;
    height: 80px;
    line-height: 80px;
    border-radius: 10px;
    border: 2px solid var(--text-color);
    align-items: center;
}

.box-icon i{
    font-size: 25px;
}

.box-icon span{
    font-size: 20px;
}

.project{
    justify-content: center;
    text-align: center;
    background-color: var(--background-primary);
}

.project-box{
    padding-top: 10px;
}

.project-asset{
    height: 350px;
    width: 250px;
    display: inline-block;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    margin: 7px 7px 7px 0;
    background-color: var(--background-secondary);
}

.project-asset img{
    width: 100%;
    padding: 10px 10px 2px 10px;
}

.project-asset h2{
    text-align: start;
    padding-left: 10px;
}

.project-asset .btn{
    padding-top: 20px;
}

.certificate{
    text-align: center;
}

.certificate-box{
    padding-top: 20px;
}

.certificate-asset{
    height: 370px;
    width: 300px;
    display: inline-block;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    margin: 7px 7px 7px 0;
    background-color: var(--background-primary);
}

.certificate-asset img{
    width: 100%;
    padding: 10px 10px 2px 10px;
}

.certificate-asset h2{
    padding-bottom: 15px;
}

.certficate-asset .btn{
    padding-top: 20px;
}

.contact{
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--background-primary);
}

.contact-box{
    background-color: var(--background-secondary);
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 700px;
    height: 350px;
    border: 2px solid var(--text-color);
    border-radius: 20px;
}

.contact-box .social-icon a{
   margin-top: 10px;
   margin-left: 20px;
   margin-right: 20px;
}


.contact-box img{
    width: 300px;
    border-radius: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

footer{
    background-color: var(--text-color);
    text-align: center;
}

footer p{
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--background-primary);
}

/* media mobile */
@media screen and (max-width: 900px){
    .header{
        padding: 15px 10px;
    }

    .contact-box{
        height: 470px;
        width: 500px;
        display: inline-block;
        padding-top: 20px;
    }

    .contact-box p{
        padding: 10px 10px 10px 10px;
    }
}

@media screen and (max-width: 820px){
    .header{
        padding: 15px 30px;
    }

    .home {
        flex-direction: column;
        gap: 10px;
    }

    .home-img img{
        display: none;
    }
}

@media screen and (max-width: 750px){
    .header{
        padding: 15px 20px;
    }
    .menu{
        display:inline-flex;
    }

    .menu #close-icon{
        display: none;
    }

    #check:checked ~ .menu #menu-icon{
        display: none;
    }

    #check:checked ~ .menu #close-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: var(--background-primary);
        box-shadow: 0 1px 5px rgba(0,0,0,.1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked ~ .navbar{
        height: 250px;
    } 

    .navbar a{
        display: block;
        font-size: 20px;
        margin: 15px 0;
        text-align: center;
    }

    .contact-box{
        height: 500px;
        width: 380px;
        display: inline-block;
        padding-top: 20px;
    }

    .contact-box p{
        padding: 10px 10px 10px 10px;
    }

    .box-icon{
        width: 400px;
    }

    .project-asset{
        width: 350px;
        height: 380px;
    }

    .certificate-asset{
        width: 350px;
        height: 330px;
    }
}

@media screen and (max-width: 470px){
    .box-icon{
        width: 300px;
    }

    .project-asset{
        width: 300px;
        height: 380px;
    }

    .certificate-asset{
        width: 300px;
        height: 300px;
    }

    .contact-box{
        width: 300px;
        height: 520px;
    }
}

@media screen and (max-width: 380px){
    .box-icon{
        width: 270px;
    }

    .project-asset{
        width: 270px;
        height: 380px;
    }

    .certificate-asset{
        width: 270px;
        height: 300px;
    }

    .contact-box{
        width: 280px;
        height: 520px;
    }

    .contact-box img{
        width: 250px;
    }
}

@media screen and (max-width: 360px){
    .box-icon{
        width: 250px;
    }

    .project-asset{
        width: 250px;
        height: 380px;
    }

    .certificate-asset{
        width: 250px;
        height: 300px;
    }

    .contact-box{
        width: 250px;
        height: 520px;
    }

    .contact-box img{
        width: 240px;
    }
}